<div class="text-center" id="iniciologin">
    <form class="form-signin">
        <img class="mb-4" src="../../../assets/img/logo.png" alt="" width="300">
        <h1 class="h3 mb-3 font-weight-normal">INGRESAR AL SISTEMA</h1>
  
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required" autofocus>
  
        <input type="password" id="clave" class="form-control" placeholder="Password" required>
  
        <input type="submit" name="boton" id="entrar" value="ENTRAR" class="btn btn-lg btn-block">
  
  
        <p class="mt-5 mb-3 " id="footer">
            Desarrollado por ITSSOLUCIONES - 2021</p>
    </form>
  </div>
