<div class="wrapper">
    <app-superior></app-superior>
    <app-menu></app-menu>
    <!-- --------------contenido -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">CATEGORÍAS</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/principal']">Inicio</a></li>
                            <li class="breadcrumb-item active">Categorías</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- contenido de categorias -->
                <!-- ------------------BOTONES---------------------- -->
                <div class="row">
                    <!-- <div class="col-lg-1"></div> -->
                    <div class="col-lg-3">
                        <input type="button" name="boton" id="aboton" value="AGREGAR CATEGORÍA" class="btn btn-sm btn-block" (click)="mostrarfor('nuevo')">
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6"></div>
                </div>
                <!-- ---------formulario insertar menu principal-->
                <div id="insertarp" *ngIf="nuevacate==true"><br>
                    <form [formGroup]='inscateForm' (ngSubmit)="inscate(inscateForm.value)">
                    <div class="row" >
                        <div class="col-lg-1">Nombre:</div>
                        <div class="col-lg-5">
                            <input type="text" formControlName='nombre' placeholder="Nombre" class="form-control" [class.is-invalid]="nombreNoValido">
                            <small class="text-danger" *ngIf="nombreNoValido">Escriba la categoría</small>
                            
                        </div>
                        <div class="col-lg-1"><b>Imágen:</b></div>
                        <div class="col-lg-5">
                            <input type="file" class="form-control" formControlName='imagen'[class.is-invalid]="imagenNoValido" (change)="imgcate($event)">
                            <small class="text-danger" *ngIf="imagenNoValido">Elija la imágen</small>
                            
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <button id="cancelar" name="boton" type="button" class="btn btn-sm btn-block" (click)="mostrarfor('cancelar')" >Cancelar</button>
                        </div>
                        <div class="col-lg-3">
                            <input type="submit" id="guardar" name="boton" class="btn btn-sm btn-block" value="Guardar">
                        </div>
                        <div class="col-lg-3"></div>
                        
                    </div>
                    </form>
                </div>
                
                <!-- ---------formulario editar menu principal-->
                <div id="editarp" *ngIf="editarcate==true"><br>
                    <form>
                    <div class="row" >
                        <div class="col-lg-1">Nombre:</div>
                        <div class="col-lg-5">
                            <input type="text" formControlName='ednombre' placeholder="Nombre" class="form-control">
                            
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5"></div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <button id="cancelar" name="boton" type="button" class="btn btn-sm btn-block" (click)="mostrarfor('cancelar')">Cancelar</button>
                        </div>
                        <div class="col-lg-3">
                            <input type="submit" id="guardar" name="boton" class="btn btn-sm btn-block" value="Editar" >
                        </div>
                        <div class="col-lg-3"></div>
                        
                    </div>
                    </form>
                </div>
                <br>
                <!--  ---------------contenido -->
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Imágen</th>
                            <th>Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let item of categoria">
                            
                            <td>{{item.nombre}}</td>
                            <td><img src="{{item.imagen}}" width="50"></td>
                            <td>
                                <span class="nav-icon fas fa-edit" id="editar" title="Editar"  > </span>
                                <span class="nav-icon fas fa-trash-alt" id="borrar" title="Borrar" > </span>
                                
                            </td>
                            
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>

